@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --accent-color: hsl(185, 30%, 40%);
        --background-color: hsl(220, 25%, 90%);
        --text-color: hsl(0, 0%, 10%);
        --border-color: hsl(220, 15%, 80%);
        --footer-content-color: hsl(215, 15%, 25%);
        --bright-accent: hsl(from var(--accent-color) h s calc(l + 20));
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background-color: hsl(200, 15%, 15%);
            --text-color: hsl(0, 0%, 90%);
            --border-color: hsl(200, 10%, 25%);
            --footer-content-color: hsl(220, 10%, 65%);
        }
    }

    /* Disable scrolling when the nav is open */
    html:has(nav.open) {
        overflow: hidden;
    }
}

@layer components {
    .accent-hover {
        @apply transition-colors duration-100 text-footerContent hocus:text-accent;
    }

    .hamburger-line {
        @apply w-full h-1 bg-current rounded inline-block absolute left-0 transition-all duration-300;
    }

    .footer-column {
        @apply font-bold font-kinetika uppercase text-lg;
    }

    .news-letter {
        --color: var(--footer-content-color);
    }

    .news-letter:has(> button:is(:hover, :focus)) {
        --color: var(--accent-color);
    }

    .x-shape {
        clip-path: polygon(28% 11%, 37.42% 22.17%, 56.14% 0%, 85.24% 0%, 60.42% 29.16%, 76.46% 17.08%, 83.06% 22.71%, 89.28% 22.71%, 89.42% 34.66%, 100% 34.49%, 100% 100%, 56.41% 100%, 43.31% 85.57%, 37.19% 92.21%, 0% 92%, 35.7% 51.54%, 2.16% 11%);
    }

    .center-self {
        @apply relative top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2;
    }

    .text-drop {
        @apply relative after:absolute after:inset-0 after:ml-[0.05em] after:mt-[0.05em] after:-z-10;
    }
}