@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --accent-color: #488286;
        --background-color: #E3E7EE;
        --text-color: #000000;
        --border-color: #CACFD8;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background-color: #1B2225;
            --text-color: #FFFFFF;
            --border-color: #343B3E;
        }
    }

    html:has(nav.open) {
        overflow: hidden;
    }
}

@layer components {
    .accent-hover {
        @apply transition-colors text-gray-800 dark:text-gray-400 hover:text-accent;
    }
}